hr{
    /* background: none; */
    border: rgb(255, 255, 255) 2px solid;  
    margin: -2px;
    border-radius: 10rem;
}
.top-bar{
    background-color: rgb(19, 17, 17);
}

@media (max-width:600px) {
   .top-bar{
    background-color: rgb(149, 151, 242);
    padding: 20px;
   } 
   .top-item link{
    color: black;
   }
   .img-logo{
    display: none;
   }
   .con-img{
    position: relative;
    left: -2rem;
    /* top: 3rem; */
}
  
   .img{
        position: relative;
        left: -1rem;
      
        
   }
   .con-det{
    padding-left:1rem;
    margin-top: -8rem;
   }
 
}
.home{
    overflow-x: hidden;
}


.test{
    overflow-x: hidden;

}

.welcome{
    letter-spacing: 4px;
    margin-top: 7rem;
    font-weight: 600;
    color: rgb(182, 182, 182);
    
}
.img{
    margin-top: 4rem;
    position: relative;
    right: -7rem;
}

.con-img{
    margin-top: 2.5rem;
    position: relative;
    right: 2rem;
}



h1 span{
    color: rgb(0, 140, 255);
}
.paragraph{
    color: rgb(172, 172, 172);
}
.connect{
    letter-spacing: 3px;
    margin-top: 2rem;
    font-weight: 600;
    color: rgb(182, 182, 182);
    text-align: center;
    
}

.social-media{
    text-align: center;

}

.social-media a{
    margin: 2rem;
}
footer{
    /* background-color: rgb(19, 17, 17); */
    height: 2.95rem;
    color: white;
    
}
.emailtag a{
    text-decoration: none;
}


.email{
    letter-spacing: 3px;
    margin-top: 7rem;
    /* font-weight: 600; */
    font-size: 1.2rem;
    color: rgb(182, 182, 182);
}
.con-me{
    letter-spacing: 3px;
    /* margin-top: 2rem; */
    font-weight: 600;
    color: rgb(182, 182, 182);
    /* text-align: center; */
}
.con-social-media a{
 padding-right: 1rem;

}